body {
    margin: 0;
    font-family: roboto, sans-serif;
    
}

.container-one {
    display: flex;
    justify-content: space-between;
    flex: 1 0 auto;
    background-color: rgb(31,41,55);
}

.logo {
    color: #F9FAF8;
    font-size: 24px;
    font-weight: bold;
    margin-left: 13%;
    margin-top: 1%;
    align-self: center;
}

ul {
    list-style-type: none;
    
  }

.links {
  display: flex;
  margin: 0;
  padding: 0;
  gap: 60px;
  justify-content: center;
  margin-top: 1%;
  align-items: center;
  font-size: 18px;
  margin-right: 13%;
}

a {
    text-decoration: none;
    color: #E5E7EB;
  }

  .container-two {
    display: flex;
    flex-flow: row nowrap;
    align-items: center;
    flex: 1 1 auto;
    margin-left: 13%;
    margin-top: 9%;
    padding-bottom: 9%;
    justify-content: space-between;
    
  }

  .text-container {
    max-width: 500px;
    flex-grow: 1;
  }

  .main-text {
    color: #F9FAF8;
    font-size: 48px;
    font-weight: bolder;
  }

  .secondary-text {
    color: #E5E7EB;
    font-size: 18px;
    
  }
   button {
    border: none;
    border-radius: 8px;
    background: #3882F6;
    color: white;
    width: 23%;
    padding: 8px;
    margin-top: 12px
   }

   .concert {
    height:250px;
    width: 35%;
    margin-right: 13%;
   }
   
   .alpha {
    background-color: rgb(31,41,55);
   }
   
   .title {
    display: flex;
    font-size: 36px;
    padding-top: 3%;
    padding-bottom: 3%;
    font-weight: bolder;
    justify-content: center;
   }


   .discog-container {
    display: flex;
    justify-content: center;
    gap: 52px;
    text-align: center;
    margin-right: 13%;
    margin-left: 13%;
    padding-bottom: 7%;
  }

  .info {
    max-width: 200px;
  }

  .album-covers {
    max-width: 200px;
    max-height: 200px;
    border-style: solid;
    border-color: #3882F6;
    
  }

  .quote-container {
    display: flex;
    background-color: #E5E7EB;
    justify-content: center;
    align-items: center;
  }

  .quote {
    font-size: 36px;
    font-style: italic;
    font-weight: 100;
    max-width: 750px;
    color: #1F2937;
    padding-top: 7%;
    
  }

  .quote-author {
    font-weight: bold;
    font-size: 24px;
    align-self: flex-end;
    background-color: #E5E7EB;
    color: #1F2937;
    padding-left: 57%;
    padding-bottom: 7%;
  }